<div class="search-result">
    <h4>Результаты поиска</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Образование</th>
            <th scope="col">Статей</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--{{#each journalistList}}-->
            <!--<tr>-->
                <!--<td>{{lastName}} {{firstName}} {{middleName}}</td>-->
                <!--<td>{{educationTitle}}</td>-->
                <!--<td>{{articlesQuantity}}</td>-->
                <!--<td>-->
                    <!--<button class="btn btn-primary">-->
                        <!--<i class="fas fa-info-circle"></i>-->
                    <!--</button>-->
                <!--</td>-->
            <!--</tr>-->
        <!--{{/each}}-->
        </tbody>
    </table>
    <div id="pagination"></div>
</div>
