@model CloudPublishing.Models.Publishings.PublishingCreateViewModel
@{
    ViewBag.Title = "Новое издания";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-12 offset-md-0">
        @using (Html.BeginForm("Create", "Publishing", FormMethod.Post, new { @class = "publishing-form" }))
        {
            <div>
                @Html.HiddenFor(m => m.Publishing.Id)
            </div>
            <div class="form-group row">
                <label class="col-2">Название</label>
                <div class="col-10">
                    @Html.TextBoxFor(m => m.Publishing.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Publishing.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2">Тип</label>
                <div class="col-10">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.Publishing.Type, "P", new { @class = "form-check-input", @checked = "checked" })
                        <label class="form-check-label" for="radioJournal">Газета</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.Publishing.Type, "M", new { @class = "form-check-input" })
                        <label class="form-check-label" for="inlineRadio2">Журнал</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2">Тематика</label>
                <div class="col-10">
                    @Html.TextBoxFor(m => m.Publishing.Subjects, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Publishing.Subjects, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="topics" class="multi-select-component">
                <label>Рубрики</label>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <select class="form-control">
                                    <option></option>
                                    @foreach (var topic in Model.AvailableTopics)
                                    {
                                        <option value="@topic.Id">@topic.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-block btn-success" disabled>Добавить</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush" name="Publishing.Topics"></ul>
                </div>
            </div>
            <div id="journalists" class="multi-select-component">
                <label>Журналисты</label>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <select class="form-control">
                                    <option></option>
                                    @foreach (var journalist in Model.AvailableJournalists)
                                    {
                                        <option value="@journalist.Id">@journalist.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-block btn-success" disabled>Добавить</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush"></ul>
                </div>
            </div>
            <div id="editors" class="multi-select-component">
                <label>Редакторы</label>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <select class="form-control">
                                    <option></option>
                                    @foreach (var editor in Model.AvailableEditors)
                                    {
                                        <option value="@editor.Id">@editor.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-block btn-success" disabled>Добавить</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush"></ul>
                </div>
            </div>
            <div class="text-right">
                <a href=@Url.Action("List", "Publishing") class="btn btn-secondary active" role="button" aria-pressed="true">Отменить</a>
                <input type="submit" class="btn btn-primary active" value="Сохранить">
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/publishing-create-view")


