@model CloudPublishing.Models.Publishings.PublishingEditViewModel
@{
    ViewBag.Title = "Редактирование издания";
}

@using (Html.BeginForm("EditPublishing", "Publishing", FormMethod.Post, new { id = "publishingCreateForm" }))
{
    <div>
        @Html.HiddenFor(m => m.Publishing.Id)
    </div>
    <div class="form-group row">
        <label class="col-2">Название</label>
        <div class="col-10">
            @Html.TextBoxFor(m => m.Publishing.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Publishing.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2">Тип</label>
        <div class="col-10">
            <span>@Html.RadioButtonFor(m => m.Publishing.Type, "m")Журнал</span>
            <span>@Html.RadioButtonFor(m => m.Publishing.Type, "n")Газета</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2">Тематика</label>
        <div class="col-10">
            @Html.TextBoxFor(m => m.Publishing.Subjects, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Publishing.Subjects, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="topics" class="multi-select-component">
        <label>Рубрики</label>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <select class="form-control">
                            <option></option>
                            @foreach (var topic in Model.AvailableTopics)
                            {
                                <option value="@topic.Id">@topic.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3 text-right">
                        <button type="button" class="btn btn-success" disabled>Добавить</button>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush" name="Publishing.Topics">
                @if (Model.TopicsAtPublishing != null)
                {
                    foreach (var topic in Model.TopicsAtPublishing)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">@topic.Name</div>
                                <div class="col-6 text-right">
                                    <input type="hidden" value="@topic.Id" name="Publishing.TopicsId" />
                                    <button class="btn btn-light">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div id="journalists" class="multi-select-component">
        <label>Журналисты</label>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <select class="form-control">
                            <option></option>
                            @foreach (var journalist in Model.AvailableEmployees.Where(x => x.Type == "J"))
                            {
                                <option value="@journalist.Id">@journalist.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3 text-right">
                        <button type="button" class="btn btn-success" disabled>Добавить</button>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.EmployeesAtPublishing != null)
                {
                    foreach (var journalist in Model.EmployeesAtPublishing.Where(x => x.Type == "J"))
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    @journalist.Name
                                </div>
                                <div class="col-6 text-right">
                                    <input type="hidden" value="@journalist.Id" name="Publishing.EmployeesId" />
                                    <button class="btn btn-light">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div id="editors" class="multi-select-component">
        <label>Редакторы</label>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <select class="form-control">
                            <option></option>
                            @foreach (var editor in Model.AvailableEmployees.Where(x => x.Type == "E"))
                            {
                                <option value="@editor.Id">@editor.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3 text-right">
                        <button type="button" class="btn btn-success" disabled>Добавить</button>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.EmployeesAtPublishing != null)
                {
                    foreach (var editor in Model.EmployeesAtPublishing.Where(x => x.Type == "E"))
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    @editor.Name
                                </div>
                                <div class="col-6 text-right">
                                    <input type="hidden" value="@editor.Id" name="Publishing.EmployeesId">
                                    <button class="btn btn-light">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div>
        <a href=@Url.Action("List", "Publishing") class="btn btn-secondary" role="button" aria-pressed="true">Отменить</a>
        <input type="submit" name="save" class="btn btn-primary" value="Сохранить">
    </div>
}
@Scripts.Render("~/bundles/publishing-create-view")


