<ul class="pagination pagination-sm no-select">
    <li class="page-item">
        <span class="page-link" data-page="prev">&laquo;</span>
    </li>
    {{#each pages}}
        {{#if this.class}}
            <li class="page-item {{this.class}}">
                <span class="page-link active" data-page="{{this.value}}">{{this.value}}</span>
            </li>
        {{else}}
            <li class="page-item">
                <span class="page-link active" data-page="{{this.value}}">{{this.value}}</span>
            </li>
        {{/if}}
    {{/each}}
    <li class="page-item">
        <span class="page-link" data-page="next">&raquo;</span>
    </li>
</ul>