{{#if isShown}}
    <div class="btn-group">
        <span class="btn border page-quantity" id="pageQuantity">
            {{perPage}}
        </span>
        <button type="button" class="btn  dropdown-toggle dropdown-toggle-split border" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu select-per-page">
            {{#each perPages}}
                <li><a class="dropdown-item {{this.class}}" href="#" 
                    data-per-page="{{this.value}}" data-per-page-index="{{@index}}">{{this.value}}</a></li>
            {{/each}}
        </ul>
    </div>
{{/if}}