@using System.Linq;
@model CloudPublishing.Models.Reviews.ViewModels.CreateReviewModel
@{
    ViewBag.Title = "Создание рецензии";
}

@using (Html.BeginForm("Create", "Review", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="row form-group">
                <label class="col-sm-4 col-form-label">Журнал/газета</label>
                <div class="col-sm-8">
                    @*ajax-запрос по загрузке страницы и заполнение option-ов по аналогии с остальными select?*@
                    @Html.DropDownList(
                        "PublishingList",
                        Model.PublishingList.Select(item => new SelectListItem
                        {
                            Value = item.Id.ToString(),
                            Text = item.Title.ToString(),
                            Selected = "select" == item.Id.ToString()
                        }),
                        "Выберите элемент",
                        htmlAttributes: new { @class = "form-control", id = "publishing" })
                </div>

            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label">Рубрика</label>
                <div class="col-sm-8">
                    <select class="form-control" type="text" id="topic" disabled></select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label">Автор</label>

                <div class="col-sm-8">
                    <select class="form-control" type="text" id="author" disabled></select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label">Статья</label>
                <div class="col-sm-8">
                    <select class="form-control" type="text" id="article" name="ArticleId" disabled></select>
                </div>
            </div>
            <div class="form-group">
                <label>Содержание</label>
                <textarea class="form-control" rows="6" id="article_content" disabled></textarea>
            </div>
            <div class="form-group">
                <label>Рецензия</label>
                <textarea class="form-control" rows="6" name="Content" id="review_content"></textarea>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Approved" value="true" checked="checked" id="publishedCheckbox">
                    <label class="form-check-label" for="publishedCheckbox">
                        В публикацию
                    </label>
                </div>
            </div>
            <div class="text-right">
                @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-secondary mr-2" })
                <input type="submit" class="btn btn-primary" value="Сохранить">
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(function () {
            $("#publishing").change(function () {
                var publishingId = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTopicList")/" + publishingId,
                    success: function (data) {
                        $("#topic").empty();
                        $("#topic").append(data);
                        $("#topic").prop("disabled", false);
                    }
                })
            });

            $("#topic").change(function () {
                var publishingId = $("#publishing").val();
                var topicId = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAuthorList")/" + publishingId + "/" + topicId,
                    success: function (data) {
                        $("#author").empty();
                        $("#author").prop("disabled", false);
                    }
                })
            });

            $("#author").change(function () {
                var publishingId = $("#publishing").val();
                var topicId = $("#topic").val();
                var authorId = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetArticleList")/" + publishingId + "/" + topicId + "/" + authorId,
                    success: function (data) {
                        $("#article").empty();
                        $("#article").append(data);
                        $("#article").prop("disabled", false);
                    }
                })
            });

            $("#article").change(function () {
                var articleId = $(this).val();
                console.log(articleId);
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetArticleContent")/" + articleId,
                    success: function (data) {
                        $("#article_content").empty();
                        $("#article_content").append(data);
                    }
                })
            });

            $("#cancel_button").click(function () {
                var lists = $("select");

                for (var i = 1; i < lists.length; i++) {
                    $(lists[i]).empty().prop("disabled", true);
                }
            });
        });
    </script>
}