@model CloudPublishing.Models.Reviews.ViewModels.CreateReviewModel
@{
    ViewBag.Title = "Создание рецензии";
}

@using (Html.BeginForm("Create", "Review", FormMethod.Post))
{
    <div class="row form-group">
        <label class="col-sm-2 col-form-label">Журнал/газета</label>
        @*ajax-запрос по загрузке страницы и заполнение option-ов по аналогии с остальными select?*@
        @Html.DropDownListFor(
            x => x.publishingList,
            Model.publishingList,
            "Выберите элемент",
            htmlAttributes: new { @class = "form-control col-sm-4", id = "publishing" })
    </div>
    <div class="row form-group">
        <label class="col-sm-2 col-form-label">Рубрика</label>
        <select class="form-control col-sm-4" type="text" id="topic" disabled></select>
    </div>
    <div class="row form-group">
        <label class="col-sm-2 col-form-label">Автор</label>
        <select class="form-control col-sm-4" type="text" id="author" disabled></select>
    </div>
    <div class="row form-group">
        <label class="col-sm-2 col-form-label">Статья</label>
        <select class="form-control col-sm-4" type="text" id="article" name="ArticleId" disabled></select>
    </div>
    <div class="form-group">
        <label class="col-form-label">Содержание</label>
        <textarea class="form-control col-sm-6" rows="6" id="article_content" disabled></textarea>
    </div>
    <div class="form-group">
        <label class="col-form-label">Рецензия</label>
        <textarea class="form-control col-sm-6" rows="6" name="Content" id="review_content"></textarea>
    </div>
    <div class="form-group">
        <div class="form-check">
            <label class="cursor-pointer">
                <input class="form-check-input" type="checkbox" name="Approved" value="true" checked="checked">В публикацию
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class=" "></div>
        <div class="col-sm-6 text-right pr-0">
            <div class="form-group">
                <input type="reset" class="btn btn-secondary mr-2" value="Отменить">
                <input type="submit" class="btn btn-primary" value="Сохранить">
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
    $(function () {
        $("#publishing").change(function () {
            var publishingId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetTopicList")/" + publishingId,
                success: function (data) {
                    $("#topic").empty();
                    $("#topic").append(data);
                    $("#topic").prop("disabled", false);

                    // Если значение первого выпадающего списка было повторно выбрано,
                    // то сбрасываются и отключаются все, кроме последующего и удаляется содержимое статьи
                    $("#author").prop("disabled", true).val(0);
                    $("#article").prop("disabled", true).val(0);
                    $("#article_content").empty();
                }
            });
        });
        $("#topic").change(function () {
            var publishingId = $("#publishing").val();
            var topicId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAuthorList")/" + publishingId + "/" + topicId,
                success: function (data) {
                    $("#author").empty();
                    $("#author").append(data);
                    $("#author").prop("disabled", false);
                    $("#article").prop("disabled", true).val(0);
                    $("#article_content").empty();
                }
            })
        });
        $("#author").change(function () {
            var publishingId = $("#publishing").val();
            var topicId = $("#topic").val();
            var authorId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetArticleList")/" + publishingId + "/" + topicId + "/" + authorId,
                success: function (data) {
                    $("#article").empty();
                    $("#article").append(data);
                    $("#article").prop("disabled", false);
                    $("#article_content").empty();
                }
            })
        });
        $("#article").change(function () {
            var articleId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetArticleContent")/" + articleId,
                success: function (data) {
                    $("#article_content").empty();
                    $("#article_content").append(data);
                }
            })
        });

        // Построение option-ов при получении Json из контроллена
        // Не используется, контроллер возвращает partial view, который вставляется в select
        function appendOption(target, data, keyProperty, textProperty) {
            $(target).empty();

            $("<option></option>", {
                value: 0,
                text: "Выберите элемент"
            }).appendTo(target);

            $(data).each(function (index, item) {
                $("<option></option>", {
                    value: item[keyProperty],
                    text: item[textProperty]
                }).appendTo(target);
            });
        }
    });
    </script>
}