@model IEnumerable<CloudPublishing.Models.Reviews.ViewModels.DetailedReviewVM>
@{
    ViewBag.Title = "Рецензии";
    @*Layout = "~/Views/Review/_ReviewLayout.cshtml";*@
}

<div class="row mb-2">
    <div class="col-12 text-right pr-0">
        <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Review")'"><i class="fas fa-plus"></i> Добавить</button>
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Журнал/Газета</th>
                <th>Рубрика</th>
                <th>Автор</th>
                <th>Статья</th>
                <th>В публикацию</th>
                <th>@*Кнопки*@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publishing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article)
                    </td>
                    <td class="text-center">
                        @if (item.Approved)
                        {
                            <i class="fas fa-check text-success"></i>
                        }
                    </td>
                    <td class="text-left">
                        @if (item.Approved)
                        {
                            <button class="btn btn-sm border border-secondary"
                                    onclick="location.href='@Url.Action("Details", "Review", new { articleId = @item.ArticleId })'">
                                <i class="far fa-eye text-secondary"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-sm border border-secondary"
                                    onclick="location.href='@Url.Action("Edit", "Review", new { id = @item.ArticleId })'">
                                <i class="far fa-edit text-secondary"></i>
                            </button>
                            <button class="btn btn-sm border border-danger delete-button"
                                    value="@item.ArticleId">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".delete-button").click(function () {
                var id = $(this).val();
                var target = event.target;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Review")/' + id,
                    success: function () {
                        $(target.closest("tr")).detach();
                    }
                });
            });
        })
    </script>
}