@model IEnumerable<CloudPublishing.Models.Reviews.ViewModels.DetailedReviewModel>
@{
    ViewBag.Title = "Рецензии";
}

<div class="row">
    <div class="col-12">
        <div class="text-right mb-2">
            <a class="btn btn-success" href="@Url.Action("Create", "Review")">
                <i class="fas fa-plus"></i> Добавить
            </a>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Журнал/Газета</th>
                            <th>Рубрика</th>
                            <th>Автор</th>
                            <th>Статья</th>
                            <th>В публикацию</th>
                            <th>@*Кнопки*@</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publishing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Topic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Article)
                                </td>
                                <td class="text-center">
                                    @if (item.Approved)
                                    {
                                        <i class="fas fa-check text-success"></i>
                                    }
                                </td>
                                <td class="text-left">
                                    @if (item.Approved)
                                    {
                                        <a class="btn btn-sm border border-secondary"
                                           href="@Url.Action("Details", "Review", new { articleId = @item.ArticleId, reviwerId = item.ReviwerId })">
                                            <i class="far fa-eye text-secondary"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm border border-secondary"
                                           href="@Url.Action("Edit", "Review", new { articleId = @item.ArticleId, reviwerId = item.ReviwerId })">
                                            <i class="far fa-edit text-secondary"></i>
                                        </a>
                                        <a class="btn btn-sm border border-danger"
                                           href="@Url.Action("Delete", "Review", new { articleId = @item.ArticleId, reviwerId = item.ReviwerId })">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                        }
                                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
