{{#if publication.title}}
    {{#if loading.status}}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    {{loading.stage}}
                </p>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {{publication.number}}
                                </p>
                                <p>
                                    {{publication.date}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <b>{{publication.subject}}</b>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="nav nav-tabs tabs-topics">
                                {{#each publication.topics}}
                                    {{#if this.class}}
                                        <li class="nav-item" data-index="{{@index}}">
                                            <a class="nav-link active" href="#">Страница {{inc @index}}</a>
                                        </li>
                                    {{else}}
                                        <li class="nav-item" data-index="{{@index}}">
                                            <a class="nav-link" href="#">Страница {{inc @index}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">
                            <b>{{publication.title}}</b>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h6 class="mt-2">
                    <b>
                        {{#each publication.topics}}
                            {{#if this.class}}
                                {{this.title}}
                            {{/if}}
                        {{/each}}
                    </b>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        {{#each publication.topics}}
                            {{#if this.class}}
                                {{#each this.articles}}
                                    <div class="card my-2">
                                        <div class="card-header">
                                            {{this.title}}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{this.content}}
                                            </p>
                                        </div>
                                        <div class="card-footer text-muted text-right">
                                            Автор: 
                                            <span>{{this.author.lastName}}</span> 
                                            <span>{{this.author.firstName}}</span>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            {{#each publication.advertising}}
                                <div class="col-md-3">
                                    <div class="my-2">
                                        <img src="{{this}}" width="100%" height="100%" 
                                            class="rounded" alt="Рекламное изображение {{@index}}">
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Соавторы</div>
                            <ul class="list-group">
                                {{#each publication.topics}}
                                    {{#each this.articles}}
                                        <li class="list-group-item">
                                            <strong>Статья: {{this.title}}</strong>
                                        </li>
                                        {{#each this.coauthors}}
                                            <li class="list-group-item">{{this.lastName}} {{this.firstName}}</li>
                                        {{/each}}
                                    {{/each}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Редакторы</div>
                            <ul class="list-group">
                                {{#each publication.topics}}
                                    {{#each this.articles}}
                                        <li class="list-group-item">
                                            <strong>Статья: {{this.title}}</strong>
                                        </li>
                                        {{#each this.editors}}
                                            <li class="list-group-item">{{this.lastName}} {{this.firstName}}</li>
                                        {{/each}}
                                    {{/each}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Номер газеты не выбран
            </p>
        </div>
    </div>
{{/if}}