@model IEnumerable<CloudPublishing.Models.Employees.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "List";
}

<div class="row justify-content-end mb-3">
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-user-plus"></i>Новый сотрудник</a>
</div>
<div id="alertContainer">
    @Html.Raw(ViewBag.Message)
</div>
<table class="table" id="listContainer">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Имя")
            </th>
            <th>
                @Html.DisplayName("Фамилия")
            </th>
            <th>
                @Html.DisplayName("Пол")
            </th>
            <th>
                @Html.DisplayName("Год рождения")
            </th>
            <th>
                @Html.DisplayName("Тип сотрудника")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <div>
                        <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-default"><i class="fas fa-edit"></i></a>
                        <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var table = document.getElementById('listContainer');
            var tbody = table.tBodies[0];
            tbody.addEventListener('click', function (event) {
                var target = event.target;
                while (target !== this) {
                    if (target.tagName === 'BUTTON') {
                        var row = target.parentNode.parentNode.parentNode;
                        $.ajax({
                            type: "GET",
                            url: "/Employee/Delete?id=" + row.id,
                            contentType: "application/json",
                            success: function (result) {
                                if (result.isSuccessful) {
                                    tbody.removeChild(row);
                                }
                                displayResult(result);
                            },
                            error: function () {
                                displayResult("Неизвестная ошибка, пользователь не был удален");
                            }
                        });
                    }
                    target = target.parentNode;
                }
            });
        });

        function displayResult(result) {
            var container = document.getElementById('alertContainer');
            $(container).empty();
            var div = document.createElement('DIV');
            var button = document.createElement('BUTTON');
            var i = document.createElement('I');
            var text = document.createElement('SPAN');
            button.appendChild(i);
            div.appendChild(text);
            div.appendChild(button);
            div.className = 'alert alert-dismissible fade show';
            div.classList.add(result.isSuccessful ? 'alert-success' : 'alert-danger');
            div.setAttribute('role', 'alert');
            text.textContent = result.message;
            button.dataset.dismiss = 'alert';
            button.className = 'close';
            button.type = 'button';
            button.setAttribute('aria-label', 'Close');
            i.className = "fas fa-times";
            i.setAttribute('aria-hidden', 'true');
            container.appendChild(div);
        }
    </script>
}
