<tbody>
    {{#each journalistList}}
    <tr>
        <td>{{lastName}} {{firstName}} {{middleName}}</td>
        <td>{{educationTitle}}</td>
        <td>{{articlesQuantity}}</td>
        <td>
            <button class="btn btn-primary">
                <i class="fas fa-info-circle"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</tbody>