{{#if magazine.title}}
    {{#if loading.status}}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    {{loading.stage}}
                </p>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <b>{{magazine.title}}</b>
                </h3>
            </div>
            <div class="col-md-12">
                <small>
                    <span>{{magazine.number}}</span>
                    <span>{{magazine.date}}</span>
                </small>
            </div>
            <div class="col-md-12">
                <h4>
                    <b>{{magazine.subject}}</b>
                </h4>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-tabs tabs-topics">
                    {{#each magazine.topics}}
                        {{#if this.class}}
                            <li class="nav-item" data-index="{{@index}}">
                                <a class="nav-link active" href="#">{{this.title}}</a>
                            </li>
                        {{else}}
                            <li class="nav-item" data-index="{{@index}}">
                                <a class="nav-link" href="#">{{this.title}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        {{#each magazine.topics}}
                            {{#if this.class}}
                                {{#each this.articles}}
                                    <div class="card my-2">
                                        <div class="card-header">
                                            {{this.title}}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{this.content}}
                                            </p>
                                        </div>
                                        <div class="card-footer text-muted text-right">
                                            Автор: 
                                            <span>{{this.author.lastName}}</span> 
                                            <span>{{this.author.firstName}}</span>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="col-md-4">
                        {{#each magazine.advertising}}
                            <div class="my-2">
                                <img src="{{this}}" class="rounded" alt="Рекламное изображение {{@index}}">
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Соавторы</div>
                            <ul class="list-group">
                                {{#each magazine.topics}}
                                    {{#if this.class}}
                                        {{#each this.articles}}
                                            <li class="list-group-item">
                                                <strong>Статья: {{this.title}}</strong>
                                            </li>
                                            {{#each this.coauthors}}
                                                <li class="list-group-item">{{this.lastName}} {{this.firstName}}</li>
                                            {{/each}}
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Редакторы</div>
                            <ul class="list-group">
                                {{#each magazine.topics}}
                                    {{#if this.class}}
                                        {{#each this.articles}}
                                            <li class="list-group-item">
                                                <strong>Статья: {{this.title}}</strong>
                                            </li>
                                            {{#each this.editors}}
                                                <li class="list-group-item">{{this.lastName}} {{this.firstName}}</li>
                                            {{/each}}
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Номер журнала не выбран
            </p>
        </div>
    </div>
{{/if}}