<form class="form-horizontal" id="form-filter">
    <h4 class="form-title">Поиск публикаций</h4>
    <div class="form-group">
        <label for="publicationTitle" class="col-lg-12 control-label">{{publicationType}}</label>
        <div class="col-lg-12">
            <select class="form-control" name="publicationTitle" id="publicationTitle">
                {{#each publications}}
                    {{#if this.selected}}
                        <option selected data-item="{{this.id}}">{{this.title}}</option>
                    {{else}}
                        <option data-item="{{this.id}}">{{this.title}}</option>
                    {{/if}}
                {{else}}
                    <option value=""> - Не найдено - </option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="numberDate" class="col-lg-12 control-label">Номер/Дата</label>
        <div class="col-lg-12">
            <input class="form-control" value="{{inputs.numberDate}}" name="numberDate" type="text" 
                id="numberDate" placeholder="Номер/Дата">
        </div>
    </div>
    <div class="form-group">
        <label for="articleTitle" class="col-lg-12 control-label">Название статьи</label>
        <div class="col-lg-12">
            <input class="form-control" value="{{inputs.articleTitle}}" name="articleTitle" type="text" 
                id="articleTitle" placeholder="Название статьи или её часть">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 text-right">
            {{#if loading}}
                <div class="spinner-border text-primary align-middle" role="status"></div>
            {{/if}}
            <button type="submit" class="btn btn-primary"
                {{#if loading}}
                    disabled="disabled"
                {{/if}}
            >
                <i class="fas fa-search"></i>
                {{#if loading}}
                    Поиск
                {{else}}
                    Найти
                {{/if}}
            </button>
            <button type="reset" class="btn btn-primary btn-clear">Очистить</button>
        </div>
    </div>
</form>